.advantages {
  background-color: #b7c029;
  padding-bottom: 100px;
  @include on-tablet {
    padding-bottom: 150px;
  }
  &__wave {
    position: absolute;
    background-image: url(../images/bg/bgGreenWave.png);
    background-size: cover;
    height: 100px;
    width: 100%;
    bottom: -20px;
    @include on-tablet {
      height: 200px;
      bottom: -20px;
    }
    @include on-desktop {
      height: 300px;
      bottom: -20px;
    }
    @include on-extra-large {
      height: 500px;
      bottom: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    @include on-tablet {
      padding-top: 75px;
      flex-direction: row;
    }
    @include on-large {
      padding-top: 100px;
    }
  }
}

.advantage {
  &__title {
    font-weight: 600;
    text-align: left;
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    @include on-tablet {
      font-size: 40px;
      line-height: 50px;
    }
    @include on-desktop {
      font-size: 70px;
      line-height: 80px;
    }
    @include on-large {
      font-size: 80px;
      line-height: 90px;
    }
  }

  &__subtitle {
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-family: Inter;
    font-weight: 500;
    text-align: left;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
    @include on-tablet {
      font-size: 15px;
      line-height: 20px;
    }
    @include on-desktop {
      font-size: 18px;
      line-height: 25px;
    }
    @include on-large {
      font-size: 22px;
      line-height: 27px;
      gap: 50px;
    }
  }

  &__add {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #f3f5da;
    padding: 30px;
    gap: 20px;
    @include on-tablet {
      padding: 30px;
    }
    @include on-desktop {
      padding: 50px;
    }
    @include on-large {
      gap: 30px;
      padding: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--title {
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      color: #333030;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/icons/check.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
        right: 0;
        @include on-desktop {
          background-size: 30px;
          width: 30px;
          height: 30px;
        }
      }
      @include on-tablet {
        font-size: 20px;
        line-height: 25px;
      }
      @include on-desktop {
        font-size: 22px;
        line-height: 31px;
      }
      @include on-large {
        font-size: 24px;
        line-height: 35px;
      }
    }

    &--subtitle {
      font-family: Inter;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      color: #575252;
      @include on-tablet {
        font-size: 16px;
        line-height: 20px;
      }
      @include on-desktop {
        font-size: 18px;
        line-height: 24px;
      }
      @include on-large {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
}

hr {
  width: 100%;
  color: #000;
}
