.catalog {
  background-color: #c6dbE5;
  padding-top: 155px;
  height: 1018px;
  &__title {
    @include on-desktop {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      color: $mainTextColor;
    }
  }
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include on-desktop {
    
    }
  }

  &__arrow {
    display: flex;
    @include on-desktop {
      gap: 15px;
    }

    &--left {
      width: 60px;
      height: 60px;
      background-size: 60px;
      cursor: pointer;
    }
    &--right {
      width: 60px;
      height: 60px;
      background-size: 60px;
      cursor: pointer;
    }
  }
}

.product {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    @include on-desktop {
      padding-top: 160px;
    }
  }

  &__info {
    @include on-desktop {
      margin-top: 100px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    align-items: center;
    box-sizing: border-box; 
    position: relative;
    @include on-desktop {
      flex: 0 0 auto;
      width: 283px;
      border-radius: 34px;
      padding: 15px;
      margin-right: 20px;
    }
  }

  &__img {
    display: flex;
    position: absolute;

    @include on-desktop {
      width: 230px;
      height: 230px;
      top: -110px;
    }
  }

  &__title {
    letter-spacing: 0em;
    text-align: left;
    color: $mainTextColor;
    font-weight: 600;
    @include on-desktop {
      font-size: 18px;
      line-height: 29px;
      height: 60px;
    }
  }

  &__subtitle {
    letter-spacing: 0em;
    text-align: left;
    color:#535353;
    @include on-desktop {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  &__price {
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: $mainTextColor;
    @include on-desktop {
      font-size: 20px;
      line-height: 29px;
      margin-top: 40px;
    }
  }

  &__basket {
    width: 100%;
    display: flex;
    background-color: #b7C029;
    border: #b7C029;
    border-radius: 34px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: 0em;
    color: #fff;
    position: relative;
    transition: all 3s ease-in-out;
    &:hover {
      background-color: #e1ec49;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/product/basket2.svg);
      background-repeat: no-repeat;
      @include on-desktop {
        width: 18px;
        height: 16px;
        left: 55px;
        top: 18px;
      }
    }

    @include on-desktop {
      height: 57px;
      margin-top: 33px;
      font-size: 20px;
    }
  }
}
