.header {
  height: 100vh;
  background-image: url(../images/bg/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: top left;
  overflow: hidden;
  @include on-tablet {
    background-position: right;
    background-image: url(../images/bg/bg.jpg);
  }
  @include on-desktop {
  
  }

  &__info {
    margin-top: 152px;
    margin-left: 10px;
    @include on-tablet {
      margin-top: 105px;
      margin-left: 70px;
    }
    @include on-desktop {
      margin-top: 200px;
    }
    @include on-large {
      margin-top: 255px;
      margin-left: 20px;
    }
  }
  &__title {
    color: $mainTextColor;
    position: relative;
    z-index: 2;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
    line-height: 53px;
    @include on-tablet {
      font-size: 30px;
      line-height: 45px;
    }
    @include on-desktop {
      font-size: 70px;
      font-weight: 600;
      line-height: 76px;
      margin-top: 14px;
    }
    @include on-large {
      font-size: 70px;
      line-height: 100px;
    }
  }

  &__subtitle {
    font-family: Inter;
    color: #0b3373;
    font-size: 20px;
    z-index: 2;
    position: relative;
    width: 300px;
    text-align: left;
    line-height: 25px;
    margin-top: 18px;
    @include on-tablet {
      width: 345px;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 18px;
    }
    @include on-desktop {
      width: 475px;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 14px;
    }
    @include on-large {
      width: 375px;
      font-size: 23px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 45px;
    }
  }

  &__button {
    display: block;
    transition: all 1s ease-in-out;
    border: 3px $mainTextColor solid;
    background-color: $mainTextColor;
    cursor: pointer;
    text-align: center;
    width: 160px;
    height: 55px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    align-items: center;
    margin-top: 50px;
    @include on-tablet {
      width: 144.77px;
      height: 45px;
      font-size: 14px;
      line-height: 18px;
      margin-top: 20px;
    }
    @include on-desktop {
      width: 267.77px;
      height: 59px;
      font-size: 18px;
      line-height: 22px;
      margin-top: 38px;
    }
    @include on-large {
      width: 300px;
      height: 70px;
      font-size: 22px;
      line-height: 22px;
      margin-top: 90px;
    }
    &:hover {
      background-color: #275aac;
    }
  }

  &__btn {
    color: #fff;
    text-decoration: none;
  }

  &__productInfo {
    position: absolute;
    bottom: 80px;
    right: 43px;
    @include on-tablet {
      bottom: 50px;
      right: 70px;
    }
    @include on-desktop {
      bottom: 40px;
      right: 130px;
    }
    @include on-large {
      bottom: 60px;
      right: 10%;
    }
    
      &--item {
        position: relative;
        list-style-type: none;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #353e04;
        margin-top: 18px;
        @include on-tablet {
          font-size: 18px;
          line-height: 13px;
          color: #d5dbb4;
        }
        @include on-desktop {
          font-size: 24px;
          line-height: 29px;
          margin-top: 18px;
        }
        @include on-large {
          font-size: 30px;
          line-height: 35px;
          margin-top: 20px;
        }
        &::before {
          content: '';
          position: absolute;
          background-image: url(../images/icons/mark.svg);
          background-repeat: no-repeat;
          background-size: 25px;
          width: 25px;
          height: 25px;
          left: -30px;
          bottom: -2px;
          @include on-tablet {
            background-size: 28px;
            width: 28px;
            height: 28px;
            left: -40px;
            bottom: -6px;
          }
          @include on-desktop {
            background-size: 40px;
            width: 40px;
            height: 40px;
            left: -50px;
            bottom: -6px;
          }
          @include on-large {
            bottom: -3px;
            left: -55px;
          }
        }
    }
  }
}
