.menu {
  background-color: rgba(223, 227, 191, 0.8);
  border: 2px solid #f8fAe2;
  position: fixed;
  border-radius: 90px;
  margin: auto;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); 
  box-sizing: border-box;
  @include on-tablet {
    
   }
  @include on-desktop {
    top: 15px;
  }
  @include on-large {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    opacity: 1;
    @include on-tablet {
      padding: 13px 20px;
    }
    @include on-desktop {
      padding: 15px 25px;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    @include on-desktop {
      gap: 7px;
    }
    &--img {
      display: flex;
      align-items: center;
    }
    &--name {
      color: $mainTextColor;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }
  }

  

  &__info {
    display: none;
    @include on-desktop {
      gap: 40px;
      flex-direction: row;
      display: flex;
    }
    
  }

  &__link {
    @include on-desktop {
      font-size: 18px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: $mainTextColor;
      text-decoration: none;
    }
  }

  &__listInfo {
    @include on-desktop {
      gap: 30px;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 25px;
      cursor: pointer;
    }
  }

  &__contacts { 
    @include on-desktop {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__icon {
    @include on-desktop {
      background-size: 42px;
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid $mainTextColor;
      cursor: pointer;
    }
  }

  &__tel {
    @include on-desktop {
      text-decoration: none;
      border: 1px solid $mainTextColor;
      text-align: center;
      color: $mainTextColor;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      border-radius: 90px;
      width: 190px;
      width: 280px;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      height: 43px;
    }
  
    &::before {
      @include on-desktop {
        width: 19px;
        height: 19px;
        left: 28px;
        top: 11px;
        content: '';
        position: absolute;
        background-image: url(../images/icons/phone.svg);
        background-repeat: no-repeat;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
    &--location {
      display: flex;
      padding: 4px 9px;
      flex-direction: row;
      gap: 5px;
      border: 1px solid $mainTextColor;
      border-radius: 30px;
      align-items: center;
      @include on-desktop {
        gap: 5px;
        padding: 12px 15px;
      }
    }
    &--basket {
      cursor: pointer;
    }

    &--burger {
      display: flex;
      align-items: center;
      height: 35px;
      width: 35px;
      @include on-desktop {
        display: none;
      }
    }
  }

  &__amount {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: $mainTextColor;
  }
}