.menu {
  background-color: #dfe3bf;
  border: 2px solid #f8fAe2;
  position: fixed;
  border-radius: 90px;
  margin: auto;
  height: 50px;
  // width: 695px;
  // width: 100%;
  z-index: 10;
  top: 5px;
  // left: 0;
  // right: 0;
  left: 50%;
  transform: translateX(-50%); 
  box-sizing: border-box;
  @include on-desktop {
    height: 71px;
    // width: 1190px;
    top: 15px;
    // left: 0;
    // right: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    padding: 0 20px;
    @include on-desktop {
      padding: 0 40px;
      height: 71px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    @include on-desktop {
      gap: 7px;
    }
    &--img {
      display: flex;
      align-items: center;
    }
    &--name {
      color: $mainTextColor;
      display: flex;
      align-items: center;
      @include on-desktop {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        align-items: center;
      }
    }
  }

  

  &__info {
    display: none;
    @include on-desktop {
      display: flex;
      gap: 150px;
      flex-direction: row;
    }
  }

  &__link {
    @include on-desktop {
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: $mainTextColor;
    }
  }

  &__listInfo {
    @include on-desktop {
      height: 71px;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 30px;
      cursor: pointer;
    }
  }

  &__contacts { 
    display: flex;
    align-items: center;
    @include on-desktop {
      height: 71px;
      gap: 20px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid $mainTextColor;
    cursor: pointer;
    @include on-desktop {
      background-size: 17px;
      width: 42px;
      height: 42px;
    }
  }

  &__tel {
    text-decoration: none;
    border: 1px solid $mainTextColor;
    text-align: center;
    color: $mainTextColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    @include on-desktop {
      border-radius: 90px;
      width: 280px;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      height: 43px;
    }
  
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/phone.svg);
      background-repeat: no-repeat;
      @include on-desktop {
        width: 19px;
        height: 19px;
        left: 28px;
        top: 11px;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    gap: 15px;
    &--location {
      display: flex;
      padding: 4px 9px;
      flex-direction: row;
      gap: 5px;
      border: 1px solid $mainTextColor;
      border-radius: 30px;
     align-items: center;
      @include on-desktop {
        gap: 5px;
        padding: 8px 15px;
      }
    }
    &--basket {
      cursor: pointer;
    }

    &--burger {
      display: flex;
      align-items: center;
      height: 35px;
      width: 35px;
      @include on-desktop {
        display: none;
      }
    }
  }

  &__amount {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: $mainTextColor;
  }
}