.moving-container {
  position: relative;
  @include on-desktop {
    &--cloudFirst {
      animation: moveCloudFirst 25s linear infinite;
      position: absolute;
      background-image: url(../images/movingCloud/cloud1.svg);
      width: 250px;
      height: 45px;
      top: 100px;
      left: 20px;
      z-index: 1;
    }
    &--cloudSecond {
      animation: moveCloudSecond 35s linear infinite;
      position: absolute;
      background-image: url(../images/movingCloud/cloud2.svg);
      width: 230px;
      height: 45px;
      top: 200px;
      right: 20px;
      z-index: 1;
    }
    &--cloudThirty {
      animation: moveCloudThirty 35s linear infinite;
      position: absolute;
      background-image: url(../images/movingCloud/cloud3.svg);
      width: 230px;
      height: 45px;
      top: 300px;
      right: 400px;
      z-index: 1;
    }
  }
}

@keyframes moveCloudFirst {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-200%); 
  }
}

@keyframes moveCloudSecond {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-700%); 
  }
}

@keyframes moveCloudThirty {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-350%); 
  }
}