.moving-container {
  position: relative;
  &--cloudFirst {
    display: block;
    animation: moveCloudFirst 25s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud1.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 45px;
    top: 100px;
    left: 20px;
    z-index: 1;
    @include on-tablet {
      background-size: 150px;
      width: 150px;
      height: 45px;
      top: 80px;
      left: 20px;
    }
    @include on-desktop {
      background-size: 250px;
      width: 250px;
      height: 45px;
      top: 100px;
      left: 50px;
    }
    @include on-large {
      background-size: 350px;
      width: 350px;
      height: 100px;
      top: 150px;
      left: 50px;
    }
  }

  &--cloudSecond {
    animation: moveCloudSecond 55s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud2.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 45px;
    top: 138px;
    right: 150px;
    @include on-tablet {
      background-size: 150px;
      width: 150px;
      height: 45px;
      top: 110px;
      right: 150px;
    }
    @include on-desktop {
      background-size: 250px;
      width: 250px;
      height: 45px;
      top: 200px;
      left: 50px;
    }
    @include on-large {
      background-size: 350px;
      width: 350px;
      height: 100px;
      top: 300px;
      left: 550px;
    }
  }
  &--cloudThirty {
    animation: moveCloudThirty 45s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud3.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 45px;
    top: 185px;
    right: 230px;
    @include on-tablet {
      background-size: 100px;
      width: 100px;
      height: 45px;
      top: 170px;
      right: 320px;
    }
    @include on-desktop {
      background-size: 250px;
      width: 250px;
      height: 45px;
      top: 300px;
      left: 50px;
    }
    @include on-large {
      background-size: 300px;
      width: 300px;
      height: 100px;
      top: 450px;
      left: 50px;
    }
  }
}

@keyframes moveCloudFirst {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes moveCloudSecond {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-700%);
  }
}

@keyframes moveCloudThirty {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-350%);
  }
}
