*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Oddval, Helvetica, sans-serif;
}