@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin on-large {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin on-extra-large {
  @media (min-width: 1980px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }
  @include onDesktop {
    --columns: 12;
  }
}
