@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin on-large {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin on-extra-large {
  @media (min-width: 1980px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }
  @include onDesktop {
    --columns: 12;
  }
}

@mixin footerListStyle {
  background-color: #f3f5da;
  height: 100%;
  padding: 15px;
  
  @include on-tablet {
    padding: 60px;
  }

  &__title {
    color: #b7c029;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    
    @include on-tablet {
      font-size: 40px;
      margin-top: 70px;
     }
     
     @include on-desktop {
      font-size: 50px;
      margin-top: 70px;
    }
  }

  &__text {
    font-size: 17px;
    margin-top: 15px;
    line-height: 20px;
    
    @include on-desktop {
      font-size: 20px;
      margin-top: 20px;
      line-height: 30px;
    }
  }

  &__subtitle {
    color: #b7c029;
    font-size: 25px;
    margin-top: 20px;
    
    @include on-desktop {
      font-size: 35px;
      margin-top: 50px;
    }
  }
}