*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding and margin */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Oddval, Helvetica, sans-serif;
}

.container {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
@media (min-width: 744px) {
  .container {
    padding: 0 34px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0 123px;
  }
}

@font-face {
  font-family: Oddval;
  src: url(../fonts/oddval-semibold.ttf);
  font-weight: 600;
  font-style: normal;
}
.moving-container {
  position: relative;
}
@media (min-width: 1280px) {
  .moving-container--cloudFirst {
    -webkit-animation: moveCloudFirst 25s linear infinite;
            animation: moveCloudFirst 25s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud1.svg);
    width: 250px;
    height: 45px;
    top: 100px;
    left: 20px;
    z-index: 1;
  }
  .moving-container--cloudSecond {
    -webkit-animation: moveCloudSecond 35s linear infinite;
            animation: moveCloudSecond 35s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud2.svg);
    width: 230px;
    height: 45px;
    top: 200px;
    right: 20px;
    z-index: 1;
  }
  .moving-container--cloudThirty {
    -webkit-animation: moveCloudThirty 35s linear infinite;
            animation: moveCloudThirty 35s linear infinite;
    position: absolute;
    background-image: url(../images/movingCloud/cloud3.svg);
    width: 230px;
    height: 45px;
    top: 300px;
    right: 400px;
    z-index: 1;
  }
}

@-webkit-keyframes moveCloudFirst {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes moveCloudFirst {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@-webkit-keyframes moveCloudSecond {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-700%);
            transform: translateX(-700%);
  }
}
@keyframes moveCloudSecond {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-700%);
            transform: translateX(-700%);
  }
}
@-webkit-keyframes moveCloudThirty {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}
@keyframes moveCloudThirty {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
}
.header {
  height: 100vh;
  background-image: url(../images/bg/bi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (min-width: 1280px) {
  .header {
    height: 779px;
  }
}
.header__title {
  color: #0b3373;
}
@media (min-width: 1280px) {
  .header__title {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -1px;
    text-align: left;
    padding-top: 158px;
    margin-left: 50px;
    z-index: 2;
  }
}
.header__subtitle {
  font-family: Inter;
  color: #0b3373;
}
@media (min-width: 1280px) {
  .header__subtitle {
    width: 475px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
    margin-left: 50px;
  }
}
.header__button {
  display: block;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border: 3px #0b3373 solid;
  background-color: #0b3373;
  cursor: pointer;
  text-align: center;
}
@media (min-width: 1280px) {
  .header__button {
    width: 267.77px;
    height: 59px;
    border-radius: 34px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-top: 38px;
  }
}
.header__button:hover {
  background-color: #275aac;
  -webkit-box-shadow: 10px 10px 10px rgba(96, 143, 224, 0.2);
          box-shadow: 10px 10px 10px rgba(96, 143, 224, 0.2);
}
.header__btn {
  color: #fff;
  text-decoration: none;
}
.header__productInfo {
  position: absolute;
}
.header__productInfo--list {
  list-style-type: none;
}
.header__productInfo--item {
  position: relative;
}
@media (min-width: 1280px) {
  .header__productInfo {
    top: 650px;
    right: 143px;
  }
  .header__productInfo--list {
    list-style-type: none;
  }
  .header__productInfo--item {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #d5dbb4;
    margin-top: 18px;
  }
  .header__productInfo--item::before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/mark.svg);
    width: 40px;
    height: 40px;
    left: -50px;
    bottom: -6px;
  }
}

.menu {
  background-color: #dfe3bf;
  border: 2px solid #f8fAe2;
  position: fixed;
  border-radius: 90px;
  margin: auto;
  height: 50px;
  z-index: 10;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 1280px) {
  .menu {
    height: 71px;
    top: 15px;
  }
}
.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  padding: 0 20px;
}
@media (min-width: 1280px) {
  .menu__content {
    padding: 0 40px;
    height: 71px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .menu__logo {
    gap: 7px;
  }
}
.menu__logo--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__logo--name {
  color: #0b3373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1280px) {
  .menu__logo--name {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__info {
  display: none;
}
@media (min-width: 1280px) {
  .menu__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .menu__link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #0b3373;
  }
}
@media (min-width: 1280px) {
  .menu__listInfo {
    height: 71px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    cursor: pointer;
  }
}
.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1280px) {
  .menu__contacts {
    height: 71px;
    gap: 20px;
  }
}
.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border: 1px solid #0b3373;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .menu__icon {
    background-size: 17px;
    width: 42px;
    height: 42px;
  }
}
.menu__tel {
  text-decoration: none;
  border: 1px solid #0b3373;
  text-align: center;
  color: #0b3373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .menu__tel {
    border-radius: 90px;
    width: 280px;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    height: 43px;
  }
}
.menu__tel::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/phone.svg);
  background-repeat: no-repeat;
}
@media (min-width: 1280px) {
  .menu__tel::before {
    width: 19px;
    height: 19px;
    left: 28px;
    top: 11px;
  }
}
.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}
.menu__price--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 9px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  border: 1px solid #0b3373;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1280px) {
  .menu__price--location {
    gap: 5px;
    padding: 8px 15px;
  }
}
.menu__price--basket {
  cursor: pointer;
}
.menu__price--burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
}
@media (min-width: 1280px) {
  .menu__price--burger {
    display: none;
  }
}
.menu__amount {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #0b3373;
}