.shipping {
  @include footerListStyle;

  &__text {
    span {
      color: red;
    }
  }

  &__container {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
    @include on-tablet {
      margin-top: 80px;
     }
    @include on-desktop {
      margin-top: 100px;
    }
  }

  &__important {
    font-size: 18px;
    color: #b7c029;
    @include on-tablet {
      font-size: 30px;
     }
    @include on-desktop {
      font-size: 40px;
    }
  }
}